
.icon-youtube-squared:before { content: '\f166'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */